.blog-container{
    padding: 10px;
    margin:10px auto;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px black;
}
.blog-left-container{
    margin:2px;
    width: 70%;
    height: 100%;
}
.blog-right-container{
    width: auto;
    height: 100%;
}
.blog-left-container .blog-admin-detail{
    height: 3rem;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blog-left-container h2,p{
    margin:2px;
}
.blog-left-container .blog-admin-detail .profile-img{
    height: 35px;
    width: 35px;
    border-radius: 50px;
}
.blog-left-container .blog-read-descripiton{
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-left-container .blog-read-descripiton .blog-description-left{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blog-left-container .blog-read-descripiton .blog-description-left .blog-category{
    background-color: rgb(219, 219, 219);
    padding: 5px;
    border-radius: 10px;
}
.blog-left-container .blog-read-descripiton .blog-description-right{
    width: 60%;
    height: auto;
    text-align: end;
}
.blog-left-container .blog-read-descripiton .blog-description-right .bookmark-img{
    height: 25px;
    width: 25px;
}

@media screen and (max-width:768px) {
    .blog-container{
        display: block;
    } 
    .blog-left-container{
        width: 100%;
    }
    .blog-left-container .blog-read-descripiton .blog-description-left{
        width: 100%;
        justify-content: space-between;
        margin:10px 0px;
    }
}