.card-container{
    height:70vh;
    width: 50%;
    margin:0px auto;
    display: flex;
    flex-wrap: wrap;

}
.color-container{
    border-radius: 5px;
    margin:10px;
    background-color: #fff;
    width:17%;
    height:12rem;
    box-shadow: 2px 2px 5px 1px black;
}
.bg-container{
    height: 8rem;
    width: 100%;
}
.color-code,.color-name{
    padding:5px 10px;
    margin: 0px;
}